{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickNote</title>
    <link rel="icon" type="image/png" href="{% static 'notes/images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'notes/css/style.css' %}" >
</head>

<body>

    <header class="navbar">
        <a href="{% url 'home' %}" class="logo">QuickNote</a>
        <nav>
            {% if user.is_authenticated %}
                <span class="username">{{ user.username }}</span>
                <form action="{% url 'logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}

</body>

</html>
