{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickNote</title>
    <meta name="description" content="Quick Note is a lightweight and user-friendly note management web application built with Django.">
    <meta name="keywords" content="Quick Note, notes, personal notes, calendar, note taking, personal notes.">

    <meta name="author" content="Anis Hidra">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://quicknote-calendar.onrender.com/">
    <link rel="icon" type="image/png" href="{% static 'notes/images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'notes/css/style.css' %}" >

    <meta property="og:type" content="website">
    <meta property="og:title" content="Quick Note">
    <meta property="og:description" content="A simple web application for creating and managing personal notes.">

    <meta property="og:url" content="https://quicknote-calendar.onrender.com/">
    <meta property="og:image" content="https://quicknote-calendar.onrender.com/notes/images/logo.png">
    <meta property="og:site_name" content="Quick Note">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Quick Note">
    <meta name="twitter:description" content="Quick Note is a lightweight and user-friendly note management web application built with Django.">
    <meta name="keywords" content="Quick Note, notes, personal notes, calendar, note taking, personal notes.">
    <meta name="twitter:image" content="https://quicknote-calendar.onrender.com/notes/images/logo.png">

    <meta name="google-site-verification" content="-6WwZFUH7lBhzBDrW-lrXufHdDBawL3oAVpftV8QEks" />

</head>

<body>

    <header class="navbar">
        <a href="{% url 'home' %}" class="logo">QuickNote</a>
        <nav>
            {% if user.is_authenticated %}
                <span class="username">{{ user.username }}</span>
                <form action="{% url 'logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}

</body>

</html>
